<header>
    <nav class="header" >
        <ul class="header-nav">
            <li class="header__home"><a href="#">{{ icon('home') }}</a> </li>
            <li><a href="#">{{ icon('lines') }} Forum</a> </li>
            <li><a href="#">{{ icon('pen') }} Blog</a> </li>
            <li><a href="#">{{ icon('cog') }} WIP</a> </li>
            <li><a href="#">{{ icon('cloud') }}Category</a> </li>
            <li><a href="#">{{ icon('video') }}Tutoriel</a> </li>

        </ul>
        <ul class="header-side">
            <li><a href="#">Se Connectée</a> </li>
            <li><a href="#">S'inscrire</a> </li>
        </ul>
    </nav>
</header>