<header>
    <nav class="header" >
        <ul class="header-nav">
            <li class="header__home"><a href="{{ path('app_home') }}">{{ icon('home') }}</a> </li>
            <li><a href="#">{{ icon('comment') }} Forum</a> </li>
            <li><a href="#">{{ icon('pen') }} Blog</a> </li>
            <li><a href="#">{{ icon('cog') }} WIP</a> </li>
            <li><a href="#">{{ icon('brand') }} Category</a> </li>
            <li><a href="#">{{ icon('video') }} Tutoriel</a> </li>

        </ul>
        <ul class="header-side">
            {% if app.user %}
            <li class="header__account"><a href="{{ path('app_profil')}}">{{ icon('user') }}
                    <span>{{ app.user.name }}</span></a> </li>

            <li class="header__logout"><a href="{{ path('app_logout') }}">
                    {{ icon('logout') }} <span>Se déconnecter</span>
                </a> </li>

            {% else %}
            <li><a href="{{ path('app_login') }}">Se Connectée</a> </li>
            <li><a href="{{ path('app_register') }}">S'inscrire</a> </li>
        {% endif %}</ul>
    </nav>
</header>