{% extends 'admin/layout/card.html.twig' %}

{% block title %}{{ icon('brand') }} Gestion des Mods
{% endblock %}
{% block actions %}
 {% if  rows.approuve == 0  and rows.statut == 0%}   <form action="{{ path('admin_mod_released_accept', {id: rows.id}) }}" method="post">
        <button class="btn-primary  btn-block" type="submit">{{ icon('check') }} Approuvé</button>
    </form>
    {% endif %}
   {% if rows.rejettime < 4 %} <a href="{{ path('admin_mod_release_decline', {id: rows.id}) }}" class="btn-danger">{{ icon('cross')}} Refusée</a>
  {% if rows.reason is not empty%}  <a href="#" class="btn-danger">Revision</a> {% endif %}{% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {% if rows.rejettime > 3 %}
            <form action="{{ path('admin_mod_release_decline_reset', {id: rows.id}) }}" method="post">
            <button class="btn-primary  btn-block" type="submit">{{ icon('check') }} Reset</button>
        </form>
    {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <h2 class="section-title">{{ rows.title }}</h2>

    <p>Posté: {{ rows.createdAt | ago  }}</p>
    <p>Version:{{ rows.version }}</p>
    <p> Marque: {{ rows.brand.name }}</p>
    <p>Category: {{ rows.category.name }}</p>
    <p class="formatted">{{ rows.content }}</p>
<div class="grid2">
 <div class="about__author stack-large">
     <h2 class="section-title">A propos de l'auteur</h2>
    <p>{{ rows.author.name }}</p>
    <p>{{ rows.author.lastLoginIP }}</p>
    <p>{{ rows.author.lastLoginAt | date('Y-M-d h:m:s') }}</p>
    <p>{{ rows.author.createdAt |  ago }}</p></div>
    <div class="check">
        {% if rows.approuve >= 1 %}

            {{ rows.approuve }}
            {% if rows.approuveby %}
                {{ rows.approuveBy.name }}
                {% endif %}
            {{ rows.approuveAt |  ago }}
            {{ rows.detail }}

            {{ rows.statut }}
        {% endif %}
    </div>
</div>

    {% for mod in mods %}
    {{ mod.title }}
    {% endfor %}
{% endblock %}
