<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title 'Linkmat' %} | Linkmat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="turbolinks-cache-control" content="no-cache"/>
        {% block stylesheets %}
            {{- encore_entry_link_tags('app') }}
            {{- encore_entry_script_tags('admin') }}

        {% endblock %}
        {% block javascripts %}
          {{- encore_entry_script_tags('app') }}
          {{- encore_entry_script_tags('admin') }}
        {% endblock %}
    </head>
    <body class="{{ bodyClass is defined ? bodyClass : '' }} admin__dashboard">
    <div class="dashboard__wrapper">


     {% include 'admin/partials/header.html.twig' %}

      <main class="dashboard-body">
        {% include 'partials/flash.html.twig' with {floating: true, duration: 2} %}
        {% block body '' %}
      </main>
    </div>

    <script>
        window.linkmat = {
            ...(window.linkmat || {}),
            ADMIN: {{ is_granted('SUPERADMIN') ? 'true' : 'false' }},
            USER: {{ app.user ? app.user.id : 'null' }},
        }
    </script>
    </body>
</html>
