{% extends 'admin/base.html.twig' %}

{% block title %}{{ icon('check') }} Dashboard
{% endblock %}
{% block body %}
    {% include 'admin/home/_jobs.html.twig' %}

    <div class="grid2" style="--gap: 4">
    <div class="gridletf">
    <form action="{{ path('admin_cache_clean') }}" method="post">
        <button class="btn btn-small btn-danger">{{ icon('trash') }} Vider le cache</button>
    </form>
    </div>

    </div>
    <div class="gridright">
    <section class="stack" style="--gap: 1">
        <div class="flex">
            <h1 class="dashboard-title">{{ icon('email') }} <a href="https://www.mail-tester.com/" rel="noreferrer">Tester les emails</a></h1>
        </div>

        <div class="dashboard-card">
            <form action="{{ path('admin_mailtest') }}" method="post" class="flex stretch">
                <div class="form-group" style="width: 100%">
                    <input class="form-control" placeholder="Email" name="email"  type="email" required>
                </div>
                <button class="btn btn-secondary">Envoyer</button>
            </form>
        </div>
    </section>
    </div>
</div>
{% endblock %}
