<div class="container mt3">
    <div class="card p3">
        <h1 class="section-title">Information General</h1>
{{ form_start(form, {attr: {class: 'stack'}}) }}
        <div class="grid2">{{ form_row(form.name) }}</div>
<div class="grid3 stack">

    {{ form_row(form.version) }}
    {{ form_row(form.category) }}
    {{ form_row(form.brand) }}

</div>
   <div class="mod__url stack">
       <h1 class="section-title">Lien de votre Mods
       </h1>
            <p>L'url doit etre un site du style Sharemod</p>
        <div class="grid2">
            {{ form_row(form.url) }}
        </div>
   </div>
        <div class="console__mod stack">
            <h1 class="section-title">Console ?</h1>
            <div class="grid2">
            <p class="">Votre Mod est t'il disponible console  ? Si ou il doit avoir le lien du Modhubs</p>
            {{ form_row(form.console) }}</div>
        </div>
        <div class="full stack">
            <h3 class="section-title">Description de votre mod</h3>
            {{ form_row(form.description) }}
        </div>
<div class="full mt2">
    <button type="submit" class="btn-primary">Sauvegarder</button>
</div>

{{ form_end(form) }}
</div>
</div>