{% extends 'base.html.twig' %}

{% block body %}
<article class="container-narrow my5">
    <div class="post__title mt4">
    <h2 class="hero-title">{{ post.title }}</h2>
    </div>
            <div class="image_show_post mt3">
                <a href="{{ path(post) }}"> <img src="https://picsum.photos/id/{{ post.id}}/800/400" alt="{{ post.title }}"></a>

            </div>
    <div class="meta__blog blog__info">
        <div class="post__author"> <a href="{{ path(post.author) }}">{{ post.author.name }}</a> </div>
      <div class="post__date">Publiée {{ post.createdAt  | ago }}</div>
        <div class="category__info__blog flex-end">
        {% if post.category%}Dans <a href="{{ path(post.category) }}"> {{ post.category.name }} </a>{% endif %}</div>
    </div>
    <section class="formatted mt3">
        {{ post.content | markdown }}
    </section>
    {%  include 'partials/comments.html.twig' with {target: post} only %}
</article>
{% endblock %}

