
{{ form_start(form, {attr: {class: 'stacked'}}) }}
<div class="dashboard-grid">
  {{ form_row(form.title) }}
  {{ form_row(form.author) }}
  {{ form_row(form.version) }}
  {{ form_row(form.category) }}
  {{ form_row(form.brand) }}
  {{ form_row(form.createdAt) }}
  {{ form_row(form.url) }}
  {{ form_row(form.approuve) }}
  {{ form_row(form.console) }}
  {{ form_row(form.noErrors) }}
</div>
<div class="full">
  {{ form_row(form.content) }}

</div>
  <div class="full mt2">
    <button type="submit" class="btn-primary">Sauvegarder</button>
  </div>

{{ form_end(form) }}
