{% extends 'admin/layout/card.html.twig' %}

{% block title %}{{ icon('brand') }} Gestion des Mods
{% endblock %}
{% block actions %}
  <a href="{{ path('admin_mod_new') }}" class="btn-primary">{{ icon('check') }}Ajouter un Mods</a>
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
    <tr>
      <th>{{ sort_by(rows, 'ID', 'row.id') }}</th>
      <th>{{ sort_by(rows, 'Nom', 'row.title') }}</th>
      <th class="text-center">{{ sort_by(rows, 'Statut', 'row.approuve') }}</th>
      <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
      {% set link = path('admin_mod_edit', {id: row.id}) %}
      <tr style=" {% if row.statut == 1 %} opacity: 0.5; pointer-events: none{% endif %}" >
        <td class="dashboard-id">
          <a href="{{ link }}">{{ row.id }}</a>
        </td>
        <td>
          <a href="{{ link }}">{{ row.title }}</a>
        </td>
        {% if row.statut == 0 %}
          <td><span class="pill
{% if row.approuve == 2  %} pill-danger
{% elseif row.approuve == 1 %} pill-accepted
{% elseif row.approuve == 0%} pill-waiting
{% endif%} ">
            {% if row.approuve == 0 %}
              En Attente
            {% elseif row.approuve == 1 %}
              Approuvée
            {% elseif row.approuve == 2 %}
              Refusée
            {% endif %}
          </span></td>
        {% elseif row.statut == 1 %}
          <td> <span class="pill pill-danger">CLOSE</span>  </td>
        {% endif %}
        <td>
          <div class="dashboard-actions">

            <a href="{{ path('admin_mod_clone', {id: row.id}) }}">{{ icon('clone') }}</a>
            <a href="{{ link }}">{{ icon('edit') }}</a>
            <form action="{{ path('admin_mod_app_http_admin_mods_mod_delete', {id: row.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer ce contenu')">
              <input type="hidden" name="_method" value="DELETE" />
              <button type="submit">
                {{ icon('delete') }}
              </button>
            </form>

          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {{ knp_pagination_render(rows) }}

{% endblock %}
