
{{ form_start(form, {attr: {class: 'stacked'}}) }}
<div class="dashboard-grid">
  {{ form_row(form.title) }}
  {{ form_row(form.slug) }}
  {{ form_row(form.author) }}

  {{ form_row(form.createdAt) }}
  {{ form_row(form.category) }}

  {{ form_row(form.online, {row_attr: {style: 'align-self: flex-end'}}) }}
</div>
  <div class="full">
  {{ form_row(form.content) }}
  </div>
  <div class="full mt2">
    <button type="submit" class="btn-primary">Sauvegarder</button>
  </div>

{{ form_end(form) }}
